html {
    height: 100%;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    height: 100%;
}


/*TRANSITIONS*/

.fadeIn-enter-active {
    transition: opacity .1s
}
.fadeIn-leave-active {
    transition: opacity .1s
}
.fadeIn-enter, .fadeIn-leave-to {
    opacity: 0
}
.fadeOut-enter-active {
    transition: opacity .3s
}
.fadeOut-leave-active {
    transition: opacity .3s
}
.fadeOut-enter, .fadeOut-leave-to {
    opacity: 0
}
.move-enter-active, .move-leave-active {
    -webkit-transition: all .2s cubic-bezier(.2,.8,.5,1),transform 150ms cubic-bezier(.2,.8,.5,1),left 250ms ease-in-out;
    -moz-transition: all .2s cubic-bezier(.2,.8,.5,1),transform 150ms cubic-bezier(.2,.8,.5,1),left 250ms ease-in-out;
    -ms-transition: all .2s cubic-bezier(.2,.8,.5,1),transform 150ms cubic-bezier(.2,.8,.5,1),left 250ms ease-in-out;
    -o-transition: all .2s cubic-bezier(.2,.8,.5,1),transform 150ms cubic-bezier(.2,.8,.5,1),left 250ms ease-in-out;
    transition: all .2s cubic-bezier(.2,.8,.5,1),transform 150ms cubic-bezier(.2,.8,.5,1),left 250ms ease-in-out;
}
.move-enter {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
}
.move-leave-to {
    opacity: 0;
    -webkit-transform: translateX(40px);
    -moz-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -o-transform: translateX(40px);
    transform: translateX(40px);
}

.movefade-enter-active, .movefade-leave-active {
    opacity: 1;
    -webkit-transition: all .2s cubic-bezier(.2,.8,.5,1),transform 150ms cubic-bezier(.2,.8,.5,1),left 250ms ease-in-out;
    -moz-transition: all .2s cubic-bezier(.2,.8,.5,1),transform 150ms cubic-bezier(.2,.8,.5,1),left 250ms ease-in-out;
    -ms-transition: all .2s cubic-bezier(.2,.8,.5,1),transform 150ms cubic-bezier(.2,.8,.5,1),left 250ms ease-in-out;
    -o-transition: all .2s cubic-bezier(.2,.8,.5,1),transform 150ms cubic-bezier(.2,.8,.5,1),left 250ms ease-in-out;
    transition: all .2s cubic-bezier(.2,.8,.5,1),transform 150ms cubic-bezier(.2,.8,.5,1),left 250ms ease-in-out;
}
.movefade-enter {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
}
.movefade-leave-to {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
}

.slide-fade-enter-active {
  transition: all .2s ease;
}
.slide-fade-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}